
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Home</title>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>


</head>

<body>
<div th:replace="/customer/header :: header"></div>

 <br/> 
   
    <div class="container">
    <br/>
        <h3>Customer Home Page</h3>
        <br />
                 <hr />
        
        <div th:object = "${customerVO}" class="box">
    <p>   Hello ! We welcome you <b><span th:utext="*{name}"></span></b></p> 
  <p><b>Mobile:</b> <span th:utext="*{mobile}"></span></p>
   <p><b>Email:</b> <span th:utext="*{email}"></span></p>
    <p><b>Job Title:</b> <span th:utext="*{jobTitle}"></span></p>
  <p><b>Address:</b> <span th:utext="*{address}"></span></p>
     <p><b>Gender:</b> <span th:utext="*{gender}"></span></p>
       <p><b>Qualification:</b> <span th:utext="*{qualification}"></span></p>
  
</div>
  </div>
  
</body>
</html>

			
			
			
			
