<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Dashboard Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  
  <style>
.ffooter {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  
  
  
  background-color: red;
  color: white;
  text-align: center;
  height: 30px;
  background-color:#e9ffe7;
}
</style>
</head>
<body>



<div th:replace="/customer/header :: header"></div>

 <br/> 

<div class="container">
<br/>
  <h2>Customer Dashboard Page
  </h2>

  <img th:src="@{/images/customer_dashboard.jpg}"/>
  <br/>
   <span th:utext="${error}" style="color: red;font-size: 18px;"></span>
   <span th:utext="${message}" style="color: red;font-size: 18px;"></span>
  <div style="width: 70%">
   <br/>
  <span th:utext="${msg}" style="color: red;font-size: 25px;"></span>
  <br/>
 
  	
  </div>

</div>
<footer  class="ffooter">
</footer>

</body>
</html>
