<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Forgot Password</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  
  <script>
  function validation(){
		var emailObject =document.getElementById("email");
		var emailText=emailObject.value;
		var pattern= /^[^ ]+@[^ ]+\.[a-z]{2,3}$/;
		if (emailText.match(pattern)){
			document.getElementById("emailError").innerHTML ="Your Email is Invalid";
			document.getElementById("emailError").style.color="#00ff00";
		}else{
			document.getElementById("emailError").innerHTML ="Please Enter Valid Email";
			document.getElementById("emailError").style.color="#ff0000";
		}
		
	}
  
  
  function clearText() {
		document.getElementById("emailError").innerHTML = "";
		document.getElementById("genMessage").innerHTML = "";
	}
	
	function formAuth() {
		   var   emailObj=document.getElementById("email");
  	   var  emailText=emailObj.value;
  	   if(emailText.length==0){
  		     document.getElementById("emailError").innerHTML="**Email cannot be blank";
  		     emailObj.focus();
  		     return;
  	   }
         //THis submitting the form
         document.authForm.submit();
	}
  
  </script>
  
  <style>
.ffooter {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
  height: 30px;
  background-color:#e9ffe7;
}
</style>
</head>
<body>
<header style="height: 30px;background-color: maroon;">
</header>
<div class="container">
<br/>
  <h2>Forgot Password
  </h2>
  <img th:src="@{/images/login.png}" alt="Logo" style="height: 140px"/>
   <br/>
 <br/>   
   <span th:utext="${error}" style="color: red;font-size: 18px;font-weight: bold;"></span>
      
      <span id="genMessage" th:utext="${message}" style="color: blue;font-size: 18px;font-weight: bold;"></span>
      
  <div style="width: 70%">
   <br/>

   <form id="authForm" onsubmit="return false" name="authForm" th:action="@{/customer/showQuestion}" method="POST" >
    <div class="form-group">
      <label for="email">Email Id:</label>
      <input type="text" style="width: 60%;" class="form-control"  name="email" id="email" placeholder="Enter email" onkeyup="clearText();" onkeydown="validation();">
       <span style="color:red;font-size: 18px;"  id="emailError"></span>
    </div>
    
    <button type="button" class="btn btn-primary" onclick="formAuth();" onkeydown="validation();">Submit</button>
    <button type="reset" class="btn btn-danger">Clear </button>
     <a href="/login"> 
    <button type="button" class="btn btn-warning">Login</button>
    </a>
  </form>
  </div>
</div>
<footer  class="ffooter">
</footer>

</body>
</html>




