<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
  <title> Statement Table</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
  
   
<script>
  $(document).ready(function() {
	    $('#List').DataTable(  );
	    
	} );
  </script>
  
  <style>
.ffooter {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
  height: 30px;
  background-color:#e9ffe7;
}
</style>
</head>
<body>

<div th:replace="/customer/header :: header"></div>

 <br/> 

<div class="container">

  <h2>Account Statement
  </h2>    
<br/>
   <span th:utext="${error}" style="color: red;font-size: 18px;"></span>
    <span th:utext="${message}" id="message" style="color: red;font-size: 18px;"></span>
    <span id="messageFromApi"  style="color: red;font-size: 18px;"></span>
   <hr/>
  <div style="width: 100%">
  
    <table id="List" class="table table-striped table-bordered" style="width:100%">
  <thead>
  <tr>
  <td> Payee Name </td>
  <td> Date of Transaction </td>
  <td> Credit/Debit </td>
    <td> Description</td>
   <td>Amount</td>
  </tr>
  </thead>
  <tbody>
  <tr th:each="payee: ${list}">
  	<td th:text="${payee.payeeName}"/>
  	<td th:text="${payee.doe}"/>
  	<td th:text="${payee.type}"/>
  	<td th:text="${payee.description}"/>
  	<td th:text="${payee.transferAmount}"/>
  </tr>
  
  </tbody>
  </table>
  
  </div>
</div>

</body>
<footer  class="ffooter">
</footer>
</html>
